Simulation_Files/PLECS_Blockset_5.0/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.ico
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# KiCad (generated/cache/backup files)
*~
*.bak
*.tmp
_autosave-*
*-backups/

# KiCad project local settings/cache
*.kicad_prl
*.kicad_pro-bak
fp-info-cache

# KiCad backup files
*.kicad_sch-bak
*.kicad_pcb-bak
*.sch-bak
*.pcb-bak
